body{
	font-family: 'PingFangSC-Regular', 'PingFang SC';
	color: #222222;
}
.banner{
	width: 70%;
	height: 60px;
	margin: 0 auto
}
.logoImg{
	height: 39px;
}
.banner-title{
	line-height: 60px;
	font-size: 20px;
	border-left: 1px solid #222;
	padding-left: 17px;
	margin-left: 10px
}
.banner a{
	line-height: 60px;
	margin-left: 30px
}
.content{
	margin: 25px auto;
background:rgba(250,250,250,1);
}
.manufacturer{
	width: 70%;
	margin: 25px auto;
}
.cloud-card{
	width: 90%;

    background:rgba(255,255,255,1);
   box-shadow:0px 5px 18px 0px rgba(8,76,59,0.08);
   border-radius:8px;
}
.cloud-card-2{
	width: 80%;
}
.cloud-card-header{
	color: rgba(0, 0, 0, 0.447058823529412);
    line-height: 22px;
    padding: 20px;
    min-height: 221px;
    font-size: 12px
}
.cloud-card-header img{
	height: 30px
}
.cloud-card-footer{
	height: 48px;
	line-height: 48px;
	text-align: center;
	background-color: #419EFF;
border-radius:0px 0px 8px 8px;
}
.cloud-card-footer a{
	color: #fff;
	font-size: 16px;
	font-weight: 500

}
.img-circle{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #cccccca1;
	text-align: center;
	line-height: 48px
}
.cloud-service-title{
	font-weight: 700;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.847058823529412);
}
.footer-btn{
	cursor: pointer;
	color: rgba(0, 0, 0, 0.447);
}
.cloud-wrapper{
	margin-top: 20px
}
.footer{
	width: 100%;
	height: 120px;
	color:rgba(168,172,178,1);
	background-color: rgb(51, 51, 51);

	margin-top: 50px;
	font-weight:500;
}
.footer a{
	display: inline-block;
	width:66px;
	font-size:14px;

color:rgba(168,172,178,1);
line-height:20px;
}
.change-ul{
	margin-top: 15px;
	margin-right: 20px
}
.change-ul li{
	float: left;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	width:90px;
	height:32px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(217,217,217,1);
	color:rgba(0,0,0,0.65);
	border-right: none
}

.change-ul li:last-child{
	border-right: 1px solid rgba(217,217,217,1);
}
.change-active{
	background-color: rgba(65,158,255,1)!important;
	color: #fff!important;
}
.cloud-card-2-title{
font-size:20px;
color:rgba(34,34,35,1);
line-height:20px;
}
.cloud-card-2-content{
margin-top: 20px;
font-size:12px;
color:rgba(131,131,134,1);
line-height:18px;
}
.cloud-card-2-footer{

font-size:12px;
color:rgba(34,34,35,1);
cursor: pointer;
margin-top: 10px
}